In [12]:
from requests_html import HTML,HTMLSession
import pandas as pd

In [13]:
session = HTMLSession()

In [14]:
r = session.get('https://you.ctrip.com/')

In [15]:
# find all continents
continents = r.html.find(".city-selector-tab-item-title")
print(len(continents))

8

In [16]:
for c in continents:
    print(c.text)

国内（含港澳台）
亚洲
欧洲
非洲
北美洲
南美洲
大洋洲

In [17]:
cities = r.html.find('.city-selector-tab-main-city')
print(len(cities))

36

In [18]:
# skip the redundant data in the cities
# add the category
# add the city titles
regions,city,links=set(),[],[]
for c in cities[1:]:
    title = c.find('.city-selector-tab-main-city-title')

    if title:
        regions.add(title[0].text)
    else:
        regions.add('海外')
    place = c.find('a')
    for p in place:
        city.append(p.text)
        links.append(list(p.absolute_links)[0])

In [19]:
regions = list(regions)
print(len(regions))
print(regions[18])


print(city[0])

30
贵州
上海

In [20]:
df = pd.DataFrame({'city':city,'links':links})

In [21]:
df.head()

  city                                          links
0   上海     https://you.ctrip.com/place/shanghai2.html
1   北京      https://you.ctrip.com/place/beijing1.html
2   天津    https://you.ctrip.com/place/tianjin154.html
3   重庆  https://you.ctrip.com/place/chongqing158.html
4   香港    https://you.ctrip.com/place/hongkong38.html

In [22]:
df.to_csv(r'..\csv\cities_n_links.csv',index=False)